[Desktop Entry]
Type=Application
Name=ALTTP-DX
Comment=A Link to the Past, reimplemented and ported to Zig
Exec=zelda3
Icon=alttp-dx
Categories=Game;AdventureGame;
Terminal=false
